@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/lcd?styles=116384,116385,116383,116382,116388,116392,116396,116389,116393,116397,116387,116391,116395,116386,116390,116394');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

/* CSS Reset end */

body {
  background-image: radial-gradient(
    circle 592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgba(160, 199, 254, 1) 74.6%
  );
}

.calculator {
  max-width: 375px;
  margin: 100px auto 0;
  background: #101a22;
  border-radius: 25px;
  padding: 30px;
  color: #f1f1f1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.display {
  font-weight: 200;
  padding: 60px 15px;
  margin-bottom: 25px;
  border-radius: 25px;
  border: 1px solid rgb(97, 97, 97);
  background-color: #23303b;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 5px 8px #191919, inset 0 -1px 6px #06121d;
}

.calculation,
.result {
  position: absolute;
  right: 20px;
}

.calculation {
  font-family: 'LCD', sans-serif;
  font-weight: 200;
  font-size: 22px;
  top: 20px;
  padding: 0 10px;
}
.result {
  font-family: 'LCDMono', sans-serif;
  font-weight: 400;
  font-size: 26px;
  bottom: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 20px;
}

.grid button {
  font-size: 22px;
  border: none;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  color: #f1f1f1;
  font-weight: 100;
  border-radius: 10px;
  background: #101a22;
  box-shadow: 0 4px 8px #000000, 0px -1px 6px #41484e;
}

button[data-action='c'] {
  grid-column: span 2;
}

button[data-action='='] {
  grid-column: span 2;
  font-weight: 400;
  font-size: 30px;
  color: #101a22;
  background-image: linear-gradient(45deg, #fcc359, #f3bf61);
}

button[data-action='='] {
  font-weight: 400;
  font-size: 30px;
  color: #101a22;
  background-image: linear-gradient(45deg, #fcc359, #f3bf61);
}
